html {
  height: 100%;
}
body {
	min-height: 100%;
	font-family: 'Open Sans', 'Raleway', sans-serif;
	font-size: 16px;
	color: #222222;
	
}
.panel {
	background-color: #fff;
	opacity: 0.9;
	border-radius: 2px;
	box-shadow:  0px 3px 6px rgba(0, 0, 0, 0.4);
	width: 50%;
	max-width: 500px;
	margin-top: 10%;
	margin-left: 10%;
	padding: 0px;
	float: left;
	text-align: center;
}
@media (max-width: 550px) {
	.panel {
		width: 90%;
		margin-top: 10%;
		margin-bottom: 20%;
		margin-left: auto;
		margin-right: auto;
		float: none;
	}
}
.hide {
	display: none;
}
.top {
	background: #111;
	padding: 10px;
	color: #EFEFEF;
}
.iconBox {
	padding: 10px;
}
.icon, .iconBox {
	font-size: 3rem;
	line-height: 3rem;
}
button {
	color: #111;
	font-weight: 500;
	background-color: #EFEFEF;
	border: 1px solid #111;
	border-radius: 0px;
	width: 50px;
	height: 50px;
	text-align: center;
}
.location {
	font-size: 2rem;
	text-transform: uppercase;
}
.slider {
	position: relative;
	text-align: center;
	height: 200px;
	margin-top: 20px;
}
.slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.infoSun, .infoMoon {
	font-weight: 300;
	font-size: 2rem;
}
@media (max-width: 550px) {
	.infoSun, .infoMoon {
	font-weight: 300;
	font-size: 1.5rem;
	}
}
.big {
	font-size: 6em;
}
.small {
	font-size: 1.5rem;
}
.nav {
	font-size: 1rem;
	padding: 20px 0px;
	background: #111;
	margin-right: 0;
	margin-left: 0;
}
.nav .fa {
	font-size: 1rem;
	line-height: 1.5;
}
.nav-link {
	display: block;
}
@media (max-width: 550px) {
	.nav-link {
		padding: 0;
	}
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	font-size: 0.6rem;
	color: #EFEFEF;
	text-align: center;
}
.footer a {
	color: #EFEFEF;
	text-decoration: none;
}
.footer {
	font-size: 0.6rem;
}
